@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,700&family=Libre+Baskerville:ital@1&display=swap');

body {
    background-color: #010f2c;
    color: white;
}

.header {
    
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
    font-family: 50px;

    flex-direction: column;
}

.outer-wrapper:hover .article-title {
    height: 150px;
    opacity: 1;
    z-index: 10;
}

.custom-card a {
    text-decoration: none;
}

.article-title {
    height: 0px;
    opacity: 0;
    background-color: #EAE5E7;
    width: 100%;
    padding: 15px;
    color:black;
    transition: height 1s, opacity 2s;
    font-family: 'Cormorant Garamond', serif;
}

.name-plate {
    background-color: #EAE5E7;
    color: black;
    padding: 20px;
    width: 90%;
    margin: 20px 0;
    position: relative;
    z-index: -2;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;

}

.card-wrapper a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;

}


.card-wrapper .card-title {
    font-size: 19px;
    font-weight: bold;
}

.card-wrapper .card-byline {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.custom-card-img {
    position: relative;
}

.custom-card-img img {
    opacity: 0.9;
    background: transparent;
}

.light-dot {
    position: absolute;
    height: 100%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.custom-card-img:hover .light-dot {
    box-shadow: 1px -1px 166px 73px rgba(255,254,211,0.75);
-webkit-box-shadow: 1px -1px 166px 73px rgba(255,254,211,0.75);
-moz-box-shadow: 1px -1px 166px 73px rgba(255,254,211,0.75);
}

.bottom-img {
    height: 35rem;
    position: relative;
}

.bottom-img img {
    position: absolute;
    bottom: 0;
}

.credits img {
    width: 50%;
}

@media screen and (max-width: 992px) {
    .bottom-img img{
        position: relative;
    }   
    .bottom-img {
        height: 100%;
    }
    .credits img {
        width: 100%;
    }
}